body {
  background-color: rgb(249, 245, 231);
  /* margin: 0;
  padding: 0; */
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(251, 232, 208);
  position: sticky;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(81, 59, 59);
  font-size: 20px;
  text-align: center;
}

li {
  display: inline;
}

.imageOne {
  border-radius: 50%;
  margin-top: 80px;

  border-style: solid;
  border-width: 5px;
  border-color: rgb(176, 135, 135);
}

.imageTwo {
  border-radius: 50%;

  border-style: solid;
  border-width: 5px;
  border-color: rgb(176, 135, 135);
}

.imageThree {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(176, 135, 135);
}

.imageBox {
  display: block;
  margin-left: 35%;

  justify-content: center;
  align-items: center;
}

.para {
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  color: rgb(112, 86, 86);
}

.paralast {
  padding-bottom: 10%;
}

.tophead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 50px;
  background-image: url("https://www.treehugger.com/thmb/aQHAITFSQsONb5dzVyaPsBKO9-8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2-1a252d80f9de437ba2d48239cadcbab4.jpg");
  position: sticky;
  top: 0px;
}
.navbar {
  display: block;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  color: darkgreen;
  font-size: 20px;
  margin-left: 20%;

  width: 20px;
  height: 20px;
}
/* padding: 20px; */
/* margin: 20px; */
/* justify-content: center;
  align-items: center; */
/* hover: rgb(14, 55, 14); */
/* padding: 2%; */
/* margin: 10px; */
/* word-spacing: 10px; */
/* padding: 10px; */
/* flex-direction: row; */

.dropdown {
  /* margin: 30px; */
  padding: 20px;
  /* display: block; */
}
.drop {
  position: relative;
  display: inline-block;
}

.drop ul {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 23px;
  left: 0px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1s ease, transform 1s ease;
}
.drop:hover ul {
  display: block;
  width: 140px;
  height: 160px;
  position: absolute;
  border-radius: 10%;
  opacity: 1;
  transform: translateY(0);
}

hr {
  color: rgb(222, 208, 208);
}
/* .drop: {
  display: inline-block;
} */

.drp1:hover,
.drp2:hover,
.drp3:hover,
.drp4:hover,
.drp5:hover {
  background-color: rgb(8, 93, 8);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
}

.drp1,
.drp2,
.drp3,
.drp4,
.drp5 {
  display: block;
  text-decoration: none;
  color: darkgreen;
  font-size: 15px;
  margin: 10px;
  margin-top: 0px;
  flex-direction: row;
}

.divbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://www.treehugger.com/thmb/aQHAITFSQsONb5dzVyaPsBKO9-8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2-1a252d80f9de437ba2d48239cadcbab4.jpg");
  /* background-size: 100vw 100vh; */
  /* vertical-align: 100px; */
}

.h2 {
  font-size: 100px;
  text-align: center;
  /* vertical-align: middle; */
  color: rgb(81, 59, 59);
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 35%;
  font-size: 30px;
  color: white;
  font-weight: bolder;
  border-radius: 40%;
  border: none;
  background-image: url("https://www.treehugger.com/thmb/aQHAITFSQsONb5dzVyaPsBKO9-8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/2-1a252d80f9de437ba2d48239cadcbab4.jpg");
}

.sub:hover {
  background-color: rgb(249, 245, 231);
  color: rgb(81, 59, 59);
  background-image: none;
  cursor: pointer;
}

.sub:active {
  background-color: rgb(249, 245, 231);
  color: rgb(81, 59, 59);
  background-image: none;
  cursor: pointer;
  font-size: 35px;
}

.subscribe {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 50px;
}

.inputbox {
  padding: 10%;
  box-decoration-break: ;
  text-decoration: none;
  /* display: flex;
  padding: 30px;
  padding-top: 30px; */
}

.img1 {
  position: absolute;
  top: 500px;
  left: 300px;
  border-radius: 50%;
}
.img2 {
  position: absolute;
  top: 500px;
  left: 600px;
  border-radius: 50%;
}
.img3 {
  position: absolute;
  top: 800px;
  left: 300px;
  border-radius: 50%;
  padding-bottom: 200px;
}
.img4 {
  position: absolute;
  top: 800px;
  left: 600px;
  border-radius: 50%;
}

.h2 {
  position: relative;
  top: 10px;
  color: rgb(35, 81, 25);
}
